<% include header %>

<div class="warrper">
    <form enctype="multipart/form-data">
        <div class="ui-input">
            <input type="text" placeholder="请输入标题">
            <div class="post-content">
                <textarea></textarea>
            </div>
        </div>
    </form>
</div>

<%include footer %>