<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="stylesheets/style.css">
    <link href="stylesheets/comm.css">
  </head>
  <body>
<header>
    <nav>
        <a href="#">首页</a>
        <a href="#">博文</a>
        <a href="#">资源下载</a>
        <a href="#">招聘</a>
        <a href="#">关于我们</a>
        <a href="#">登录</a>
        <a href="#">注册</a>
    </nav>
</header>

 <article>