<% include header %>
<div class="row">
    <div class="col-9">
        <div class="ui-list">
            <div class="ui-position ui-img"><img src="images/1.jpg"></div>
            <div class="article">
                <h1>atom编辑器快捷键大汇总</h1>
                <p>Atom 是 Github 专门为程序员推出的一个跨平台文本编辑器。具有简洁和直观的图形用户界面，并有很多有趣的特点：支持CSS，HTML，JavaScript等网页编程语言。它支持宏，自动完成分屏功能，集成了文件管理器。由于有着 GitHub 的光环，不少人正在试用。下面是总结的一些 Atom 快捷键列表，喜欢高效键盘操作的朋友不妨看看。</p>
                <div class="ui-list-info">
                    <span>点击数：1000次</span>
                </div>
            </div>
        </div>
        <div class="ui-list">
            <div class="ui-position ui-img"><img src="images/1.jpg"></div>
            <div class="article">
                <h1>atom编辑器快捷键大汇总</h1>
                <p>Atom 是 Github 专门为程序员推出的一个跨平台文本编辑器。具有简洁和直观的图形用户界面，并有很多有趣的特点：支持CSS，HTML，JavaScript等网页编程语言。它支持宏，自动完成分屏功能，集成了文件管理器。由于有着 GitHub 的光环，不少人正在试用。下面是总结的一些 Atom 快捷键列表，喜欢高效键盘操作的朋友不妨看看。</p>
                <div class="ui-list-info">
                    <span>点击数：1000次</span>
                </div>
            </div>
        </div>
        <div class="ui-list">
            <div class="ui-position ui-img"><img src="images/1.jpg"></div>
            <div class="article">
                <h1>atom编辑器快捷键大汇总</h1>
                <p>Atom 是 Github 专门为程序员推出的一个跨平台文本编辑器。具有简洁和直观的图形用户界面，并有很多有趣的特点：支持CSS，HTML，JavaScript等网页编程语言。它支持宏，自动完成分屏功能，集成了文件管理器。由于有着 GitHub 的光环，不少人正在试用。下面是总结的一些 Atom 快捷键列表，喜欢高效键盘操作的朋友不妨看看。</p>
                <div class="ui-list-info">
                    <span>点击数：1000次</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
            <div class="ui-right-item">
                <h1>博文列表</h1>
                <hr>
                <div class="ui-right-item-content">
                    <ul>
                        <li><a href="#">这是博客文章列表</a></li>
                        <li><a href="#">这是博客文章列表</a></li>
                        <li><a href="#">这是博客文章列表</a></li>
                        <li><a href="#">这是博客文章列表</a></li>
                        <li><a href="#">这是博客文章列表</a></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<%include footer %>
