<!DOCTYPE html>
<html>
<head>
    <title><%= login %></title>
    <% include ../comm/style.ejs %>
</head>
<body>
<div class="wrapper">
    <% include ../comm/header.ejs %>
    <div class="intruce">
        <div class="container">
            <h1 class="title"><%= login %></h1>
            <p class="itd">欢迎来到<%= login %>博客，未来之光致力于免费培训，课程有初级到高级，全部课程免费！</p>
        </div>
    </div>
    <div class="link-fs">
        <div class="container">
            <ul class="list-fs">
                <li class="fs-git"><a href="https://github.com/tjlightfuture">GitHub技术博客</a> </li>
                <li class="fs-qq">qq群：424734136</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="project-header">
            <h1>未来之光课程主要内容</h1>
            <p>选择未来之光，课程全部免费，成就你的月薪万元梦想。</p>
        </div>
        <div class="project-body clearfix">
                <div class="content-form">
                    <form action="/loginAction" method="post">
                        <div class="login-list">
                            <div class="form-list-input">
                                <span class="ui-btn-text">用户名：</span>
                                <input  class="control-input" name="user" type="text" placeholder="请输入用户名">
                            </div>
                            <div class="form-list-input">
                                <span class="ui-btn-text">密码：</span>
                                <input class="control-input" name="pass" type="password" placeholder="请输密码">
                            </div>
                            <div class="form-list-button">
                                <input class="ui-btton" type="submit" value="登陆">
                            </div>
                        </div>
                    </form>
                </div>

        </div>
     </div>


    <% include ../comm/footer.ejs %>
</div>

</body>
</html>
