<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../comm/style.ejs %>
</head>
<body>
<div class="wrapper">
    <% include ../comm/header.ejs %>
    <div class="intruce">
        <div class="container">
            <h1 class="title"><%= title %></h1>
            <p class="itd">欢迎来到<%= title %>博客，未来之光致力于免费培训，课程有初级到高级，全部课程免费！</p>
        </div>
    </div>
    <div class="link-fs">
        <div class="container">
            <ul class="list-fs">
                <li class="fs-git"><a href="https://github.com/tjlightfuture">GitHub技术博客</a> </li>
                <li class="fs-qq">qq群：424734136</li>
            </ul>
        </div>
    </div>
    <div class="container">


     </div>


    <% include ../comm/footer.ejs %>
</div>

</body>
</html>
