/* hover */
.notice .notice-cont .notice-fl ul li .hidefl ul li a:hover,
.notice .notice-cont .notice-fr ul li .hidebox .dl2 dd a:hover,
.notice .notice-cont .notice-fr ul li .hidebox dl .clr2 a:hover,
.notice .notice-cont .notice-fr ul li .hidefl ul li a:hover,
.core .core-rgt .core-user .core-dl .clr3 .num2,
.brand .brand-title .brand-sp2 .brand-a2:hover,
.commodity .commodity-title .commodity-sp2 .commodity-a2:hover,
.today .today-title .today-sp2 .today-a2:hover,
.commodity .commodity-left ul .hover h3,
.commodity .commodity-right ul .hover h3 {
  color: #00d4a6;
}
/* background */
.header .header-cont .head2 .title,
.notice .notice-cont .notice-fr ul li .hidebox .dl3 dd .tuoguan,
.header .header-cont .head1 .head1-suxiao .header-fr .search .form .button,
.today .today-cont .today-hvr .today-leptn .caption .caption-mar .caption-r,
.newest .newest-cont .newest-hvr .newest-leptn .caption .caption-mar .caption-r {
  background: #00d4a6;
}
.notice .notice-cont .notice-fr ul li .hidebox .dl3-dp .font-dp2 i {
  background: url('../../images/index/notice-icon012.png') no-repeat center;
}
.header .header-cont .head1 .head1-suxiao .header-fl .header-logo {
  background: url('../../images/index/header-logo2.png') no-repeat center;
}
.header .header-cont .head1 .head1-suxiao .header-fr .search .form .hvr {
  background: #00ebc4 !important;
}
.header .header-cont .head2 .adlet-r .adlet-icon2 {
  background: url('../../images/index/adlet-icon3.png') no-repeat center 10px;
}
.header .header-cont .head2 .cont2 ul li a .tubiao5 {
  background: url('../../images/index/header-icon06.png') no-repeat center 0px;
}
.header .header-cont .head2 .cont2 ul li a .tubiao6 {
  background: url('../../images/index/header-icon07.png') no-repeat center 1px;
}
.header .header-cont .head2 .cont2 ul li a .tubiao7 {
  background: url('../../images/index/header-icon08.png') no-repeat center 3px;
}
.header .header-cont .head2 .cont2 ul li a .tubiao8 {
  background: url('../../images/index/header-icon09.png') no-repeat center 1px;
}
.core #core-nav ul li .product-fl i {
  background: url('../../images/index/core-icon03.png') no-repeat;
}
.today .today-cont .today-hvr .today-leptn .caption .caption-mar .caption-r:hover,
.newest .newest-cont .newest-hvr .newest-leptn .caption .caption-mar .caption-r:hover {
  background: #00ebc4;
}
.territory .territory-top a:hover {
  background: url('../../images/index/territory-btn2.png') no-repeat center;
}
.newest .newest-cont .newest-pin {
  background: url('../../images/index/newest-pin4.png') no-repeat center;
}
/* border */
.header .header-cont .head1 .head1-suxiao .header-fr .search .form .text {
  border-color: #00d4a6;
}
.header .header-cont .head1 .head1-suxiao .header-fr .search .form .hover {
  border-color: #00ebc4;
}
/* 首页 */
.brand .brand-title .brand-sp1,
.commodity .commodity-title .commodity-sp1,
.today .today-title .today-sp1 {
  color: #00d4a6;
}
