<footer>
    <hr>
    <div class="text-center">
        <p>未来之光培训，全部课程免费，直到学员薪资上万为止！</p>
        <p>官方授课群：424734136</p>
    </div>
</footer>
<script src="javascripts/jquery-1.9.1.min.js"></script>
<script>
    ;$(function(){
        $(".nav-toggle").click(function(){
            $(this).parent("header").toggleClass("height-auto")
            $(this).siblings(".nav-toggle-down").slideToggle(500);
        });
    });
</script>