<header>
    <button class="nav-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="nav-toggle-down">
        <nav>
            <a href="/">home</a>
            <a href="/video?">javascript</a>
            <a href="/video?">html</a>
            <a href="/video?">css</a>
            <a href="/video?">jquery</a>
        </nav>
        <div class="ui-login">
            <a href="/login">登录</a>|
            <a href="/reg">注册</a>
        </div>
    </div>
</header>