<header>
    <nav>
        <a href="/">home</a>
        <a href="/javascript">javascript</a>
        <a href="/html">html</a>
        <a href="/css">css</a>
        <a href="/jquery">jquery</a>
    </nav>
    <div class="ui-login">
        <a href="/login">登录</a>|
        <a href="/reg">注册</a>
    </div>
</header>