@charset "utf-8";
*{
     margin:0px;
    padding:0px;
}
ul,li,ol{list-style:none;}
.content{
    padding:10px;
}
pre{
    background: #ddd;
    border:1px solid #000000;
    padding:5px;
    padding-left:20px;
}
#_class{
    color:red;
}