<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include comm/style.ejs %>
</head>
<body>
<div class="wrapper">
    <% include comm/header.ejs %>
    <div class="link-fs">
        <div class="container">
            <ul class="list-fs">
                <li class="fs-git"><a href="https://github.com/tjlightfuture">GitHub技术博客</a> </li>
                <li class="fs-qq">qq群：424734136</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="video-pbody">
                <div class="play-video">

                </div>
            </div>
        </div>
    </div>

    <% include comm/footer.ejs %>
</div>
</body>
</html>
  