


<!-- footer脚部 -->
<div class="footer" id="footer">
    <div class="footer-cont">
        <div class="footer-jianju">
            <div class="links fl">
                <a target="_blank" href="javascript:void(0);">关于我们</a>
                <i>|</i>
                <a target="_blank" href="javascript:void(0);">联系我们</a>
                <i>|</i>
                <a target="_blank" href="javascript:void(0);">企业资质</a>
                <i>|</i>
                <a target="_blank" href="javascript:void(0);">了解更多</a>
                <i>|</i>
                <a target="_blank" href="javascript:void(0);">
                    <span>友情链接</span>
                    <!-- <i class="jt"></i> -->
                </a>
            </div>
            <div class="bz fr">
                <span>深圳市客户达科技有限公司&nbsp;©&nbsp;粤ICP备14062068号</span>
                <i></i>
            </div>
        </div>
    </div>
</div>


