

<!-- 浮动fixed_背景图片 -->
<div class="ptn-bg"></div>

<!-- 通知栏 -->
<div class="notice">
    <div class="notice-cont">
        <div class="notice-fl">
            <div class="notice-taowei fl" id="logochange">
                <i class="icfans icon1"></i>
                <span class="xialas">淘宝货源</span>
            </div>
            <ul class="notice-down">
                <li class="weixin">
                    <h3 class="mydp2 my">
                        <span>切换</span>
                        <i class="jiantou"></i>
                    </h3>
                    <div class="hidebox hidefl">
                        <ul>
                            <li>
                                <a class="notice-taoclr fl" id="taobaos"><i class="icon1"></i>淘宝货源</a>
                            </li>
                            <li>
                                <a class="notice-taoclr fl" id="wechats"><i class="icon2"></i>微商货源</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="notice-fr">
            <ul class="notice-down">
                <li class="weixin">
                    <h3 class="mydp2 my">
                        <a href="../login">请登录</a>
                        <!-- 登录后状态 -->
<!--                         <i class="name"></i>
                        <a href="javascript:void(0);">lijunsheng333</a>
                        <i class="jiantou"></i> -->
                    </h3>
                    <div class="hidebox">
                        <!-- 请登录状态 -->
                        <dl class="fl dl1">
                            <dt class="biaozhi">
                                <img src="/images/index/notice-icon6.png"></dt>
                            <dd>您好 !</dd>
                            <dd class="clr2">
                                <a href="../login">[请登录]</a>
                            </dd>
                        </dl>
                        <!-- 登录后状态 -->
<!--                         <dl class="fl dl1">
                            <dt>
                                <img src="/images/index/notice-icon3.png">
                            </dt>
                            <dd class="clr1">黑白灰1300</dd>
                            <dd>
                                <div class="ico"> <i></i>
                                    <span>高级版</span>
                                </div>
                            </dd>
                            <dd class="clr2">
                                余额: <i>¥</i>
                                <i class="num">2000.00</i>
                            </dd>
                        </dl> -->
                        <dl class="fl dl2">
                            <dt class="hig"></dt>
                            <dd>
                                <a href="javascript:void(0);">账户设置</a>
                                <!-- 登录后状态 -->
                                <!-- <a class="mar">退出</a> -->
                            </dd>
                            <dd>
                                <a href="javascript:void(0);">我的收藏</a>
                            </dd>
                            <dd>
                                <a href="javascript:void(0);">采购车</a>
                            </dd>
                            <dd>
                                <a href="javascript:void(0);">已采购的商品</a>
                            </dd>
                            <dd>
                                <a href="javascript:void(0);">分销数据统计</a>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <h3>
                        <a href="../regist">注册</a>
                        <!-- 登录后状态 -->
<!--                         <i class="xiao-icon"></i>
                        <a href="javascript:void(0);">消息</a>
                        <i class="xiao-name">5</i> -->
                    </h3>
                </li>
                <li class="weixin">
                    <h3 class="mydp1 my">
                        <i class="icon"></i>
                        <a href="javascript:void(0);">我的店铺</a>
                        <i class="jiantou"></i>
                    </h3>
                    <div class="hidebox">
                        <!-- 请登录状态 -->
                        <dl class="fl dl1 dl4-dp">
                            <dt>
                                <img src="/images/index/notice-icon13.png">
                            </dt>
                            <dd class="font-dp1">店铺：未绑定</dd>
                            <dd class="clr2 font-dp2">
                                <a href="javascript:void(0);">[请登录]</a>
                            </dd>
                        </dl>

                        <!-- 登录后状态 -->
<!--                         <dl class="fl dl1 dl3-dp">
                            <dt>
                                <img src="/images/index/notice-icon11.png"></dt>
                            <dd class="font-dp1">速度达充值</dd>
                            <dd>状态：托管中…</dd>
                            <dd class="clr2 font-dp2">
                                <a href="javascript:void(0);"> <i></i>
                                    <span>切换</span>
                                </a>
                            </dd>
                        </dl> -->
                        <dl class="fl dl2 dl3">
                            <dd>
                                <a href="javascript:void(0);">托管中店铺</a>
                                <!-- 登录后状态 -->
                                <!-- <i class="tuoguan">0</i> -->
                            </dd>
                            <dd><a href="javascript:void(0);">店铺体检</a></dd>
                            <dd><a href="javascript:void(0);">宝贝管理</a></dd>
                            <dd><a href="javascript:void(0);">代发货订单</a></dd>
                            <dd><a href="javascript:void(0);">店铺装修</a></dd>
                            <dd><a href="javascript:void(0);">店铺引流</a></dd>
                        </dl>
                    </div>
                </li>
                <li>
                    <h3>
                        <a href="javascript:void(0);">采购车</a>
                        <!-- 登录后状态 -->
                        <!-- <i class="xiao-name">12</i> -->
                    </h3>
                </li>
                <li class="weixin">
                    <h3 class="mydp2 my">
                        <span>客户服务</span>
                        <i class="jiantou"></i>
                    </h3>
                    <div class="hidebox hidefl">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" data-ref="YHD_TOP_order" target="_blank">联系客服</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-ref="YHD_TOP_points" target="_blank">帮助中心</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-ref="myYHD-wodehongbao" target="_blank">建议反馈</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-ref="YHD_TOP_coupon" target="_blank">关于</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="hideli">
                    <h3>
                        <a href="javascript:void(0);">我要供货</a>
                    </h3>
                </li>
            </ul>
        </div>


    </div>
</div>

<!-- 页头 -->
<div class="header" id="header">
    <div class="header-cont">
        <div class="head1">
            <div class="head1-suxiao">
                <div class="fl header-fl">
                    <a href="/" class="header-logo">
                    </a>
                </div>
                <div class="fr header-fr">
                    <div class="search">
                        <div class="form">
                            <input type="text" class="text" style="color: rgb(51, 51, 51);" placeholder="开店，要的就是客户！">
                            <button class="button cw-icon"><i></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="head2">
            <div class="title">
                <a href="javascript:void(0);">
                    <i></i>
                    <span>商品中心</span>
                </a>
            </div>
<!--             <div class="cont1 cont1_hvr">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="tubiao1"></i>
                            <span>热销推荐</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../activity/activity.jsp">
                            <i class="tubiao2"></i>
                            <span>活动专区</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0);">
                            <i class="tubiao3"></i>
                            <span>专卖店</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../shop/shopmgt.jsp">
                            <i class="tubiao4"></i>
                            <span>店铺管理</span>
                        </a>
                    </li>
                </ul>
            </div> -->

            <div class="adlet-r fl">
            </div>

            <div class="cont1 cont2">
                <ul>
                    <li>
                        <a>
                            <i class="tubiao5"></i>
                            <span>优质货源</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="tubiao6"></i>
                            <span>一键铺货</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="tubiao7"></i>
                            <span>全场包邮</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="tubiao8"></i>
                            <span>自动发货</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="header-line"></div>
</div>


