<!--侧边栏-->
<div id="prismWrap" class="yhd_prism_wrap" data-tpa="YHD_GLOBAl_HEADER_PRISM">
    <div class="yhd_prism_nav">
        <div class="prism_top_ad">
            <div class="prism_nav_tab" data-type="adv" data-tpc="1" id="prismTopAdv"></div>
        </div>
        <div class="prism_nav_center">
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="20" id="prismOrder"><a
                    href="javascript:void(0);"><span class="prism_icon1 prism_icon_tab"><i></i></span><u
                    class="prism_icon_text">我的用户</u></a></div>
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="30" id="prismCoupon"><a
                    href="javascript:void(0);"><span class="prism_icon2 prism_icon_tab"><i></i></span><u
                    class="prism_icon_text">我的店铺</u></a></div>

            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="20" id="prismOrder"><a
                    href="javascript:void(0);"><span class="prism_icon3 prism_icon_tab"><i></i></span><u
                    class="prism_icon_text">我的收藏</u></a></div>
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="30" id="prismCoupon"><a
                    href="javascript:void(0);"><span class="prism_icon4 prism_icon_tab"><i></i></span><u
                    class="prism_icon_text">已采购的商品</u></a></div>
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="40"
                 id="prismFavorite"><a href="javascript:void(0);"><span class="prism_icon5 prism_icon_tab"><i></i></span><u class="prism_icon_text">分销数据统计</u></a></div>

            <div class="prism_nav_tab prism_cart_wrap" data-type="cart" data-tpc="10" id="prismCart"><a
                    class="prism_cart_tab" href="javascript:;">
                <span class="prism_icon6 prism_icon_tab"><i></i></span>
                <div class="prism_cart_text">采购车</div>
                <p id="prismCartNum" class="prism_cart_num none" style="display: block;"><u>12</u></p></a>

                <div class="prism_tips_wrap prism_cart_recommend none" id="prismCartTips">

                    <p class="prism_cart_tips"><i></i>已成功加入购物车</p></div>
            </div>

        </div>
        <div class="prism_nav_btm">
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="50" id="prismFeedback"><a
                    href="javascript:void(0);" target="_blank"><span class="prism_icon7 prism_icon_tab"><i></i></span><u class="prism_icon_text">用户反馈</u></a></div>
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="50" id="prismFeedback"><a
                    href="javascript:void(0);" target="_blank"><span class="prism_icon8 prism_icon_tab"><i></i></span><u class="prism_icon_text">我的消息</u></a></div>
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="60" id="prismQRCode">
                <a href="javascript:;"><span class="prism_icon9 prism_icon_tab"><i></i></span></a>
                <div class="prism_dn-pop dn"></div>

                <div class="prism_tips_wrap prism_yhd_code none" style="display: none;"><p style="text-align:center;">
                    掌上1号店<br>手机购物更优惠</p><img
                        src="http://d7.yihaodianimg.com/N06/M06/65/22/ChEbu1dyRciANS1GAAAmHg10Abs90200.jpg"><em
                        class="tips_arrow"></em></div>
            </div>
            <div class="prism_nav_tab prism_icon_wrap" data-type="icon" data-tpc="70" id="prismBacktop"><a
                    href="javascript:;"><span class="prism_icon10 prism_icon_tab"><i></i></span><u
                    class="prism_icon_text prism_top_text">返回顶部</u></a></div>
        </div>
    </div>
    <div class="yhd_prism_show">
        <div id="prismTopAdvDetail" data-tpc="100" class="prism_show_item "></div>
        <div id="prismCartDetail" data-tpc="1000" class="prism_show_item prism_cart_show"></div>
        <div id="prismOrderDetail" data-tpc="2000" class="prism_show_item prism_order_show"></div>
        <div id="prismCouponDetail" data-tpc="3000" class="prism_show_item prism_coupon_show"></div>
        <div id="prismFavoriteDetail" data-tpc="4000" class="prism_show_item prism_favor_show">
            <div class="prism_scrollwrap">
                <div class="prism_show_tit" data-tpc="4001"><em class="prism_red_icon"></em><span
                        class="prism_tit">收藏夹</span></div>
                <div class="prism_favor_tab clearfix" data-tpc="4002"><a class="cur" href="javascript:;"><span
                        class="fr">|</span>商品收藏<em></em></a><a href="javascript:;" class="">店铺收藏<em></em></a></div>
                <div class="favor_tab_detail" id="prismFavoriteProducts" data-tpc="4010"></div>
                <div class="favor_tab_detail none" id="prismFavoriteShops" data-tpc="4020"></div>
            </div>
        </div>
    </div>
</div>

