<!DOCTYPE html>
<!--[if lt IE 6]><html class="ie ie6"><![endif]-->
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="D-Width-Response" content="class=g-wrap">
    <title>客户达分销平台</title>

    <link rel="stylesheet" type="text/css" href="/style/activity.css?160822">
    <link rel="stylesheet" type="text/css" href="/style/shengs.css">
</head>
<body>

<jsp:include page="/inc/header.jsp"/>

<!-- 所有分类 -->
<div class="suofen">
    <div class="xunxg">
        <a class="clr1">活动专区</a>
        <i class="pot1"></i>
        <a class="font">9.9包邮</a>
        <i class="pot2"></i>
    </div>
    <!-- 轮播 -->
    <div class="flexslider fl">
        <ul class="slides">
            <li class="slide_1">
                <div class='wrap-width slide-center'>
                    <div class='round1'></div>
                    <div class='round2'></div>
                    <div class='round3'></div>
                    <div class='round4'></div>
                    <div class='round5'></div>
                    <div class='round6'></div>
                </div>
            </li>
            <li class="slide_2">
                <div class='wrap-width slide-center'>
                    <div class='round1'></div>
                    <div class='round2'></div>
                    <div class='round3'></div>
                    <div class='round4'></div>
                    <div class='round5'></div>
                    <div class='round6'></div>
                    <div class='round7'></div>
                    <div class='round8'></div>
                </div>
            </li>
            <li class="slide_3">
                <div class='wrap-width slide-center'>
                    <div class='round1'></div>
                    <div class='round2'></div>
                    <div class='round3'></div>
                    <div class='round4'></div>
                    <div class='round5'></div>
                    <div class='round6'></div>
                    <div class='round7'></div>
                    <div class='round8'></div>
                </div>
            </li>
        </ul>

        <a href="javascript:void(0);" class="fsr-a1"><i></i></a>
        <a href="javascript:void(0);" class="fsr-a2"><i></i></a>
        <a href="javascript:void(0);" class="fsr-a3"><i></i></a>
    </div>
</div>

<!-- 今日热卖 -->
<div class="today">
    <!-- 标题 -->
    <div class="today-title">
        <div class="mod_search_select clearfix" id="rankOpDiv" data-tpa="SEARCH_MIAN_RANK">
            <div class="sort_b">
                <span class="zh cur"><i>9.9</i>元包邮专区</span>
            </div>

            <div class="search_select_page">
                <a class="pg1" href="javascript:void(0);"></a>
                <a class="pg2" href="javascript:void(0);"></a>
            </div>
        </div>
    </div>

    <!-- 内容区 -->
    <div class="fl today-cont">
    </div>
    <!-- 全选 -->
    <div class="slt">
        <div class="slt-i fl">
            <i></i>
        </div>
        <div class="slt-inp fl">
            <input class="area_but" type="submit" style="display:block" value="批量铺货">
        </div>
        <div class="slt-text fl">
            <span>系统共有 <i>5654250</i> 件商品，符合条件 <i>308</i> 件商品</span>
        </div>
        <div class="slt-paging fr">
            <span class="slt-span">共 <i>84</i> 页</span>
            <a class="pag1 pags" href="javascript:void(0);"></a>
            <a class="pag2 pags" href="javascript:void(0);"></a>
            <div class="select-box fl">

                <dl class="more-select more-dl select-btn fl" style="z-index: 1;">
                    <dt>
                        <i class="select-icon select-i fl"></i>
                        <span style="border: 1px solid rgb(202, 202, 202);">1</span>
                    </dt>
                    <dd>
                        <ul>
                            <li><a>1</a></li>
                            <li><a>2</a></li>
                            <li><a>3</a></li>
                            <li><a>4</a></li>
                            <li><a>5</a></li>
                            <li><a>6</a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</div>

<jsp:include page="/inc/footer.jsp"/>

<jsp:include page="/inc/sidebar.jsp"/>


    <script type="text/javascript" src='../script/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='../script/fengs.2.1.js'></script>
    <script type="text/javascript" src='../script/config.js?20160801'></script>
    <script type="text/javascript" src="../script/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../script/jquery.SuperSlide.2.1.1.js?20160808"></script>
    <script type="text/javascript" src="../static/kdrj/shengs.js"></script>
    <script type="text/javascript">Fengs.use('kdrj/activity/activity');</script>


<script type="text/javascript">
$(function() {
    // 轮播
    $(".flexslider").flexslider({
        animation:'fade',
        slideshow: false,
        slideshowSpeed: 5000, //展示时间间隔ms
        animationSpeed: 0, //滚动时间ms
        touch: false, //是否支持触屏滑动
    });
});
</script>


</body>
</html>