
<!DOCTYPE html>
<!--[if lt IE 6]><html class="ie ie6"><![endif]-->
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="D-Width-Response" content="class=g-wrap">
    <title>客户达分销平台</title>
    <link rel="stylesheet" id="changeCss" type="text/css" href="style/index.css">
    <link rel="stylesheet" type="text/css" href="style/shengs.css">
</head>
<body>

<% include inc/header.ejs %>

<!-- 中心区 -->
<div class="core">
    <!-- 轮播 -->
    <div class="core-banner">
        <ul class="core-bnr">
            <li>
                <a href="javascript:void(0);">
                    <img src="images/index/core-banner1.png" height="394" width="1200">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="images/index/core-banner2.png" height="394" width="1200">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="images/index/core-banner3.png" height="394" width="1200">
                </a>
            </li>
        </ul>
        <a class="prev_pic" href="javascript:void(0)"></a>
        <a class="next_pic" href="javascript:void(0)"></a>
        <div class="core-num">
            <ul></ul>
        </div>
    </div>

    <!-- 左侧二级菜单 -->
    <div id="core-nav">
        <ul class="core-tit">
        </ul>
        <div class="core-line"></div>
    </div>

    <!-- 用户中心 -->
    <div class="core-rgt">
        <div class="core-user">
            <dl class="core-dl">
                <dt>
                    <img src="images/index/core-icon3.png">
                    <div class="ico">
                        <i></i>
                        <span>高级版</span>
                    </div>
                </dt>
                <dd class="clr1">黑白灰1300</dd>
                <dd class="clr2">
                    余额: <i>¥</i><i class="num">2000.00</i>
                </dd>
                <dd class="clr3">
                    店铺: <a href="javascript:void(0);" class="num2">请登录</a>
                </dd>
            </dl>
        </div>
        <!-- 扫一扫 -->
        <div class="sys-bg"></div>
        <div class="sys">
            <p class="sys-ico"><img src="images/index/sys-icon1.png"></p>
            <p class="sys-text">客户达手机版</p>
        </div>
    </div>
</div>

<!-- 品牌超市 -->
<div class="brand">
    <div class="brand-title">
        <a class="fl brand-a1">品牌超市</a>
        <span class="fl brand-sp1">100%正品，品质是销量的保障！</span>
        <span class="fr brand-sp2">
            <a href="javascript:void(0);" class="brand-a2">more &gt;</a>
        </span>
    </div>
    <div class="brand-cont fl">
        <div class="brand-left"></div>
        <div class="brand-right">
            <ul>
            </ul>
        </div>
    </div>
</div>

<!-- 商品分类 -->
<div class="commodity">
    <div class="commodity-title">
        <a class="fl commodity-a1">商品分类</a>
        <span class="fl commodity-sp1">海量优质货源，利率高达20%-500%！</span>
        <span class="fr commodity-sp2">
            <a href="javascript:void(0);" class="commodity-a2">more &gt;</a>
        </span>
    </div>
    <div class="commodity-left fl">
        <ul>
            <li>
                <h3 class="title">潮流男装</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=1&sorts=&is=1&js=0">
                    <div class="fr">
                        <img class="wz1" src="images/index/commodity-icon1.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">时尚女装</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=22&sorts=&is=1&js=2">
                    <div class="fr">
                        <img class="wz2" src="images/index/commodity-icon2.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">品质童装</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=23&sorts=&is=1&js=5">
                    <div class="fr">
                        <img class="wz3" src="images/index/commodity-icon3.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">鞋袜</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=24&sorts=&is=2&js=1">
                    <div class="fr">
                        <img class="wz4" src="images/index/commodity-icon4.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">小商品</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=14&sorts=&is=4&js=0">
                    <div class="fr">
                        <img class="wz5" src="images/index/commodity-icon5.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">数码/3C/电器</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=7&sorts=&is=7&js=0">
                    <div class="fr">
                        <img class="wz6" src="images/index/commodity-icon6.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">化妆品</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=30&sorts=&is=6&js=3">
                    <div class="fr">
                        <img class="wz7" src="images/index/commodity-icon7.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="title">包包</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=27&sorts=&is=3&js=1">
                    <div class="fr">
                        <img class="wz8" src="images/index/commodity-icon8.png">
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="commodity-right fl">
        <ul>
            <li>
                <h3 class="tle">食品</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=13&sorts=&is=5&js=1">
                    <div class="fr">
                        <img class="wz9" src="images/index/commodity-icon9.png">
                    </div>
                </a>
            </li>
            <li class="hei">
                <h3 class="tle">家居用品</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=339&sorts=&is=11&js=0" class="heig">
                    <div class="fr">
                        <img class="wz10" src="images/index/commodity-icon10.png">
                    </div>
                </a>
            </li>
            <li>
                <h3 class="tle">玩具</h3>
                <a target="_blank" href="spfl/cdity.jsp?id=338&sorts=&is=9&js=0">
                    <div class="fr">
                        <img class="wz11" src="images/index/commodity-icon11.png">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 出租位 -->
<div class="lease">
    <div class="lease-bd">
        <ul>
            <li>
                <a href="javascript:void(0);">
                    <img src="images/index/lease1.png">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="images/index/lease2.png">
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 今日热卖 -->
<div class="today">
    <!-- 标题 -->
    <div class="today-title">
        <a class="fl today-a1">今日热卖</a>
        <span class="fl today-sp1">全场包邮，无需再为物流费心！</span>
        <span class="fr today-sp2">
            <a target="_blank" href="spfl/spfl.jsp" class="today-a2">more ></a>
        </span>
    </div>

    <!-- 内容区 -->
    <div class="fl today-cont">
    </div>
</div>

<!-- 最新上架 -->
<div class="newest">
    <!-- 标题 -->
    <div class="newest-title">
        <a class="fl newest-a1">最新上架</a>
        <span class="fl newest-sp1">新品抢购惠，时机选对、销量翻倍！</span>
        <span class="fr newest-sp2">
            <a target="_blank" href="spfl/newest.jsp" class="newest-a2">more ></a>
        </span>
    </div>

    <!-- 内容区 -->
    <div class="fl newest-cont">
    </div>
</div>

<!-- 搜索更多商品 -->
<div class="territory">
    <div class="territory-top">
        <a href="javascript:void(0);"></a>
    </div>
    <div class="territory-button">
        <i></i>
    </div>
</div>

<% include inc/footer.ejs %>

<% include inc/sidebar.ejs %>


    <script type="text/javascript" src='script/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='script/fengs.2.1.js?20160801'></script>
    <script type="text/javascript" src='script/config.js?20160801'></script>
    <script type="text/javascript" src="script/jquery.SuperSlide.2.1.1.js?20160808"></script>
    <script type="text/javascript" src="static/kdrj/shengs.js"></script>
    <script type="text/javascript">Fengs.use('kdrj/index');</script>


</body>
</html>